<div class="container bg-light py-5 ">
    <h1 class="display-5  fy-bold">This is Quiz Welcome</h1><br><br>
<p class="col-md-8 fs-4 text-capitalize">This quiz will contains total 9 questions each have 10 points</p>


<h4>Rules:</h4>
<ol class="text-danger">
    <li>Correct questions Gives You 10 points</li>
    <li>Incorrect questions Gives You -10 points</li>
    <li>You will have onlyy 60 sec to answer questions.</li>
    <li>Page refesh not Allowed.</li>
    <li>Cheating google Search not Allowed</li>
</ol>
<h1 style="font-family:cursive; text-align:center">ALL THE BEST FROM ZUBER</h1>
<div class="name col-md-4 my-3">
<label for="">Enter Your name</label>
<input #name type="text" class="form-control" placeholder="Enter your Name">
</div>
<button class="btn btn-primary" routerLink="/question" (click)="startQuiz()">Start Now</button>
</div>